@{
    ViewBag.Title = "CONFIRMAR CORREO";
}
<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Gracias por confirmar su correo electrónico. Por favor @Html.ActionLink("Haga clic aquí para ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
